#operators .examples > :nth-child(3n + 1) {
  justify-self: center;
}

#operators .examples > :nth-child(3n + 1) .hljs {
  font-weight: bold;
}

#operators .examples > :nth-child(3n + 1) .hljs > * {
  font-weight: normal;
}

#operators .examples > :nth-child(3n + 1) .hljs > .hljs-string {
  color: inherit;
}